/* GALLERY PAGE */

.gallery{
	position:relative;
	top:80px;
	height:auto;
	text-align:center;
	padding-bottom:20px;
	background-color:#5A9AA6;
	color:white;
	

	h1{
		padding:30px 0 0 0;
		@extend .fjalla;
		font-size:50px;
		margin: 0 !important;
	}

	p{
		margin:0 0 40px 0;
	}

}

.photo{
	height:200px;
	width:120px;
	margin-bottom:30px;

	img{
	border:2px solid white;
	}
}