@font-face {
  font-family: Kenzo;
  src: url(../fonts/Kenzo.otf); }
a:hover {
  color: grey; }

h1, p {
  -webkit-font-smoothing: antialiased; }

header {
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  background-color: #239B3D;
  z-index: 999;
  color: white; }

nav {
  float: right; }
  nav a {
    display: inline-block;
    padding: 28px 20px 28px 20px; }
  nav a:hover {
    color: white;
    background-color: #045216; }
  nav ul {
    display: none;
    position: absolute;
    list-style: none;
    margin: 0 0 0 0; }
    nav ul a {
      padding: 10px 10px;
      width: 100%; }
  nav li {
    background-color: #00330B; }
  nav div {
    display: inline-block; }

.queens-button a, .resources a {
  margin: 0 0 0 0; }

.queens-button:hover ul, .resources:hover ul {
  display: block; }

/* HOME PAGE */
a {
  color: white; }

.welcome-section {
  position: relative;
  top: 80px;
  background-image: url("../images/1.jpg");
  height: 90vh;
  transition: .2s; }
  .welcome-section .expanded {
    height: 700px; }

.opacity, .opacity-layer, .featured-opacity {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black; }

.opacity-layer {
  opacity: 0.6;
  z-index: 0; }

.website-name {
  position: relative;
  color: white;
  height: auto;
  margin: 110px 0 0 0; }
  .website-name img {
    position: relative;
    left: 50%;
    width: auto;
    height: auto;
    margin-left: -221.5px; }

.welcome-text {
  position: relative;
  /*top:50%;*/
  color: white;
  height: 200px;
  margin: 60px 0 0 0; }
  .welcome-text h1 {
    font-family: Kenzo;
    font-size: 34px;
    margin-bottom: 10px; }

.mobile-text {
  display: none; }

.see-more {
  position: relative;
  bottom: -240px;
  color: white;
  font-size: 24px;
  z-index: 998;
  text-align: center;
  font-family: Kenzo; }

.content-featured {
  position: relative;
  top: 80px;
  height: auto;
  width: 100%;
  background-color: #5A9AA6;
  color: white;
  text-align: center;
  overflow: hidden;
  padding-bottom: 30px; }
  .content-featured > p {
    font-size: 34px;
    margin: 10px 0 0 0;
    font-family: Kenzo; }

.feature {
  cursor: pointer;
  width: 270px;
  height: 240px;
  margin: 10px 0 10px 0;
  overflow: hidden; }

.featured-opacity {
  opacity: 0.5;
  transition: all 0.6s; }

.test {
  position: relative;
  width: 100%;
  height: 100%;
  color: white; }
  .test img {
    width: 100%;
    height: 100%;
    border: solid 2px white; }
  .test:hover .pop-up {
    bottom: 40px; }
  .test:hover .featured-opacity {
    opacity: 0.1; }
  .test p {
    position: absolute;
    left: 50%;
    top: 40%;
    font-family: Kenzo;
    font-size: 30px; }

.pop-up {
  position: relative;
  bottom: 0px;
  background-color: #18712b;
  width: 100%;
  height: 120px;
  transition: all 0.2s;
  font-size: 20px;
  font-family: Kenzo; }

@media screen and (max-width: 425px) {
  header {
    display: none; }

  .welcome-section {
    position: static; }

  .website-name {
    margin: 50px 0 0 0; }
    .website-name img {
      width: 280px;
      margin: 0 0 0 -140px; }

  .welcome-text {
    margin: 20px 0 0 0; }
    .welcome-text h1 {
      text-align: center; }

  .content-featured {
    display: none; }

  .desktop-text {
    display: none; }

  .mobile-text {
    display: block; }

  .see-more {
    display: none; }

  footer {
    position: static; } }
.history {
  margin-left: -40.5px; }

.cafe {
  margin-left: -24.5px; }

.flora {
  margin-left: -79px; }

.woodchat {
  margin-left: -54.5px; }

.cop {
  margin-left: -49.5px; }

.events {
  margin-left: -37px; }

/*HISTORY PAGE */
body {
  height: 100vh; }

.year, .year-one, .year-two, .year-three {
  position: relative;
  height: 100vh;
  top: 80px;
  color: white;
  text-align: center; }

.year-one {
  background-color: red;
  background: url("../images/1898.jpg") top; }
  .year-one .row {
    padding: 70px 0; }

.year-two {
  background: url("../images/1984.jpg") top; }
  .year-two .row {
    padding-top: 164.5px; }

.year-three {
  background: url("../images/1990.jpg") top; }
  .year-three .row {
    padding-top: 164.5px; }

.timeline-text {
  position: relative;
  z-index: 50; }
  .timeline-text h1 {
    margin: 0 0 0 0;
    padding: 40px 0 10px 0;
    font-family: Kenzo;
    font-size: 52px; }
  .timeline-text p {
    width: 60%;
    margin: 0 auto; }

.year-number {
  font-family: Kenzo;
  font-size: 300px;
  height: 300px;
  padding-top: 30px;
  text-align: center;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */ }
  .year-number span {
    position: relative;
    top: -120px; }

.year-text {
  position: relative;
  text-align: left;
  padding: 120px 0 0 0;
  z-index: 50; }

.history-button {
  position: fixed;
  left: 50%;
  font-size: 30px;
  font-family: Kenzo;
  color: white;
  z-index: 999;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */ }

/*.forward{
	@extend .history-button;
	bottom:50px;
	margin-left:-66.5px;
}

.back{
	@extend .history-button;
	top:130px;
	margin-left:-50.9px;
}*/
/* GALLERY PAGE */
.gallery {
  position: relative;
  top: 80px;
  height: auto;
  text-align: center;
  padding-bottom: 20px;
  background-color: #5A9AA6;
  color: white; }
  .gallery h1 {
    padding: 10px 0 0 0;
    font-family: Kenzo;
    font-size: 50px;
    margin: 0 !important; }
  .gallery p {
    padding: 10px 0 20px 0; }

.photo {
  height: 200px;
  width: 120px;
  margin-bottom: 30px; }
  .photo img {
    border: 5px solid white; }

footer {
  position: relative;
  top: 80px;
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: #239B3D;
  color: white; }
  footer a {
    display: inline-block;
    padding: 10px 10px;
    margin-top: 15px;
    font-size: 18px; }
  footer p {
    font-size: 14px; }

/*# sourceMappingURL=style.css.map */
